<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write new chats</title>
  </head>
  <body>
    <form method="POST" action="/chats">
      <input type="text" name="from" placeholder="who are you?" />
      <textarea name="message" placeholder="what do you want to say"></textarea>
      <input type="text" name="to" placeholder="add reciever" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
