body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 20px;
}
.chat {
  background-color: #e4d0dd;
  padding: 20px;
  border-radius: 16px;
  display: block;
  margin: 0 auto 10px auto;
  max-width: 600px;
}
.message {
  background-color: #c3979c;
  color: black;
  padding: 5px 10px;
  border-radius: 8px;
}
